body {
    border: 5px solid black;
    margin: 0 0;
    padding: none;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.main {
    border: 2px solid aquamarine;
    width: 100%;
    height: 90%;
    box-sizing: content-box;

}
.chat, .users {
    display: inline-block;
    box-sizing:content-box;
    height: 485px;
}
.chat {
    border: 5px solid greenyellow;
    width: 80vw;
}
.users {
    border: 5px solid sandybrown;
    width: 16.7vw;
    position: absolute;
}
.input {
    border: 5px solid indigo;
    height: 8%;
    margin: auto;
    box-sizing: content-box;
}